{% extends "base.html" %}
{% load static %}

{% block headerClass %}""{% endblock %}
{% block navActions %}
    <li><a href="{% url 'app:loginPage' %}">Zaloguj</a></li>
          <li class="highlighted"><a href="{% url 'app:registerPage' %}">Załóż konto</a></li>
{%  endblock %}

{%  block content %}




    <section class="login-page">
      <h2>Załóż konto</h2>
      <form action="" method="post">
        {% csrf_token %}
        <div class="form-group">
            {{form.email}}
        </div>
        <div class="form-group">
            {{form.password1}}
        </div>
        <div class="form-group">
            {{form.password2}}
        </div>

        <div class="form-group form-group--buttons">
          <a href="login.html" class="btn btn--without-border">Zaloguj się</a>
          <button class="btn" type="submit">Załóż konto</button>
        </div>
      </form>
    </section>

{% endblock %}